<div class="row">
	<div class="col-lg-12">
		<h1>Home#index</h1>
		<p>Find me in app/views/home/index.html.erb</p>
		
		<%= link_to "Analisar Privacidade", analise_privacidades_path, :class=>"btn btn-default" %>
		<%= link_to "Modelar Privacidade", modelagem_privacidades_path, :class=>"btn btn-default" %>
	</div>
</div>
